// Variables
$primary-color: #409EFF;
$success-color: #67C23A;
$warning-color: #E6A23C;
$danger-color: #F56C6C;
$info-color: #909399;

$sidebar-width: 210px;
$sidebar-collapsed-width: 64px;

$header-height: 50px;

// Text colors
$text-primary: #303133;
$text-regular: #606266;
$text-secondary: #909399;
$text-placeholder: #C0C4CC;

// Background colors
$bg-color: #f5f7fa;
$border-color: #DCDFE6;
